@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&family=Changa+One:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Momo+Signature&family=Outfit:wght@100..900&family=Playwrite+NZ+Basic:wght@100..400&family=Space+Grotesk:wght@300..700&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/container-queries";
@theme {
  --font-bebas: "Bebas Neue", sans-serif;
  --font-outfit: "Outfit", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-bungee: "Bungee", sans-serif;
  --font-changa: "Changa One", sans-serif;
  --font-momo: "Momo Signature", sans-serif;
  --font-play: "Playwrite NZ Basic", sans-serif;
  --font-space: "Space Grotesk", sans-serif;

  --color-orange: #f97415;
  --color-brown: #fee0c1;
  --color-brown-light: #ffedd5;
  --color-brown-dark: #803318;
  --color-gray: #646464;
  --color-gray-light: #a7a7a7;
  --color-gray-dark: #333333;
  --color-brand-white: #f9f9f9;
}
::-webkit-scrollbar {
  width: 8px;
  position: absolute;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #d4d4d4;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a3a3a3;
}
